*{
    box-sizing: border-box;    
}

body{
    background: rgba(201, 199, 196, 0.212);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
    background: chocolate;
    border-radius: 15px;
    padding: 10px;
    color: rgb(234, 247, 97);
}

div.marcoExt{
    border:solid 3px rgb(147, 175, 211);
    background-color: #cbf8f1;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px;
    max-width: 1080px;
    width: 100%;
    min-height: 100vh;    
}

div.marcoInt{    
    padding: 10px;
    border:solid 2px white;
    border-radius:7px;
    display: inline-flex;    
    justify-content: space-evenly; 
    flex-wrap: wrap;
    width:100%;
    background-image:url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.firguras{
    width:200px;
    height: 100px;
    border:solid 3px white;
    border-radius:10px;
    padding: 10px;
    background-color:rgba(228, 226, 241, 0.26);
    margin: 8px; 
    position: relative;
    z-index: 1;   
}

p.contenido{
    text-align: center;
    font-weight: bold;
    transform:translateY(50%);
}

div.circulo{
    width: 40px;
    height: 40px;
    border: solid 3px white;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top:25px;
    cursor: pointer;
    text-align: center;
    background-image:url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

p.txtCirculo{
    margin:0;
    padding: 0;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transform:translateY(0%);
}

div.segundaCaja{
	border:solid 4px white;
	border-radius:10px;
	margin-top:15px;
	/*background-color:#0a6515;*/
	color:white;
	text-align:center;
    background-image:url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.segundaCaja:hover{
	background-color: orange;
    border:solid 4px black;
	color:black;
    background-image: none;
}