body{
    background: rgba(196, 161, 97, 0.582);
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background: chocolate;
    border-radius: 15px;
    padding: 10px;
    color: rgb(234, 247, 97);
}